@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-weight: 700; /* Соответствует значению bold */
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-weight: 800; 
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Extrabold.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Gilroy;
}

body {
    background-color: #000814;
}


