@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-weight: 700; /* Соответствует значению bold */
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-weight: 800; 
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Extrabold.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Gilroy;
}

body {
    background-color: #000814;
}

:root {
    --primary-default: #0A6CFF;
    --primary-hover: #4791FF;
    --primary-active: #0052CC;
  
    --primary-tonalbtn-default: rgba(10, 108, 255, 0.20);
    --primary-tonalbtn-hover: rgba(71, 145, 255, 0.40);
    --primary-tonalbtn-active: rgba(0, 82, 204, 0.60);
  
    --primary-textbtn-hover: rgba(71, 145, 255, 0.20);
    --primary-textbtn-active: rgba(0, 82, 204, 0.40);
  }


