* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root {
    min-height: 100vh;
    min-width: 100vw;
    
}

.map {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #000814;
}

.ui {
    position: absolute;
    width: calc(100vw - 40px);
    z-index: 10;
    margin: 20px;
}
